.page-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content .user-profile{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: max-content;
    background-color: #1F2122;
    border-radius: 23px;
    
}
.page-content .user-profile .title{
    margin-bottom: 3rem;
}

.page-content .user-profile .title h1{
    color: #DFA006;
    & u{
        color: aliceblue;
    }
}

.page-content .user-profile .info-profile{
    display: flex;
    margin: .2rem;
    padding: .5rem;
    color: aliceblue;
    align-items: center;
}
.page-content .user-profile .info-profile .head-detail{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}

.btn-edit{
    margin-top: 3rem;
    width: max-content;
    align-self: flex-end;

    & button{
        background-color: #DFA006;
        border-radius: 15px;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4), 0px 2px 4px rgba(0, 0, 0, 0.06);
        padding: .8rem;
        transition: all 0.3s ease;
        color: aliceblue;
        font-weight: 600;
        &:hover{
            background-color: #e8b307;
            box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5), 0px 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-3px);
        }
    }
}



.user-profile .form-groupedit{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    & label{
        color: aliceblue;
        width: 200px;
    }
}